{% extends "base.html" %} 
{% load static %}
{% block title %}Confirm Restoration{% endblock title %} 
{% block content %}
{% include '../../../../1.toplevel.html' %}
{% include '../../../../2.navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <a href="{% url 'navbar_vsm' %}">List of VSMs</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <h5>Bulk Operations :: Restore Deleted VSM(s)</h5>
            {% for id in selected_product_ids %}
                <b>VSM ID: {{id}}</b><br>
            {% endfor %}
            <p>has been marked {{bulk_ops}}.</p>
        </div>
    </div>
</div>
{% endblock content %}