{% extends "base.html" %} 
{% load static %}
{% block title %}Edit Product{% endblock title %} 
{% block content %}
{% include '../../../../1.toplevel.html' %}
{% include '../../../../2.navbar.html' %}
<form action="" method='POST' class='form'>
{% csrf_token %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h6>Edit Product Details</h6>
        </div>
        <div class="col-md-3">
            <a href="{% url 'view_product' product.id %}">View Product</a>&nbsp;&nbsp;
            <a href="{% url 'navbar_product' %}">Product List</a>
        </div>

    </div>
    <div class="row">
        <div class="col-md-9">
            Product ID: &nbsp;<b>{{product.id}}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            {{form.as_p}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <input type="submit" name="Edit Product">
        </div>
    </div>
</div>
{% include '../../../../5.footer.html' %}
{% endblock content %}