<form action="" method='POST' class='form'>
    {% if form.errors %}
      <div class="alert alert-danger">
        {{form.errors}}
      </div>
    {% endif %}
    {% csrf_token %}
    <div class="container-fluid mx-2">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-start align-items-center">
                <p class="has-text-weight-bold mt-2 mb-0">Add {{value_type|capfirst}}</p></div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-start align-items-center">
                <b>Enter {{value_type|capfirst}} Details</b>
            </div>
        </div>  
        <div class="row py-1">
            <div class="col-md-1 d-flex justify-content-start align-items-center">
                {{ form.title.label_tag }} 
            </div>
            <div class="col-md-11 d-flex justify-content-start align-items-cente">
                <input type="text" name="title" size="40" value="">
            </div>
        </div>      
        <div class="row py-1">
            <div class="col-md-1 d-flex justify-content-start align-items-center">
                {{ form.description.label_tag }}
            </div>
            <div class="col-md-11 d-flex justify-content-start align-items-center">
                <textarea name="description" id="description" cols="43" rows="6"></textarea>
            </div>
        </div>        
        <div class="row py-1">
            <div class="col-md-1 d-flex justify-content-start align-items-center">
                Organization or Client: 
            </div>
            <div class="col-md-11 d-flex justify-content-start align-items-center">
                {{form.organization}}
            </div>
        </div>      
        <div class="row py-1">
            <div class="col-md-12 d-flex justify-content-start align-items-center">
                <input type='submit' value="Add {{value_type|capfirst}}"/>
            </div>
        </div>    
    </div>
</form>