{% extends "../../_1base/bootstrap_base.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Add VSM Steps{% endblock title %} 

{% block content %}
<div class="container-fluid">
    <!-- header -->
    <div class="row">
        <div class="col col-md-5">
            Add Value Stream Steps
        </div>
        <div class="col col-md-7 text-end">
            &nbsp;&nbsp;
            <a href="/">Home</a>
        </div>
    </div>
    <!-- role mgmt header/menu -->
    <div class="row">
        <div class="col col-md-6">
            &nbsp;&nbsp;
           <a href="{% url 'ops_valuestream_mgmt' %}"> Ops Value Stream: {{object}}</a>         
        </div>
        <div class="col col-md-6 text-end">
           {% if vs == 'dev' %}
           <a href="{% url 'dev_valuestream_mgmt' parent.ops_valuestream.id %}">DVS</a>
           {% endif %}
        </div>
    </div>
    
    <!-- Listing and Results -->
    <div class="row">
        <div class="col col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Add: VSM Steps for OVS/DVS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <form action="" method="POST">
                                {% csrf_token %}
                              

                                <table class="table table-bordered">
                                    <tr>
                                        <td class="">
                                            <b>
                                                Name:
                                            </b>
                                        </td>
                                        <td>
                                            {{form.name}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>
                                                Description:
                                            </b>
                                        </td>
                                        <td>
                                            {{form.description}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>
                                                Owner:
                                            </b>
                                        </td>
                                        <td>
                                            {{form.owner}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>
                                                Value Creation Time:
                                            </b>
                                        </td>
                                        <td>
                                            {{form.value_creation_time}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>
                                                Delay Time:
                                            </b>
                                        </td>
                                        <td>
                                            {{form.delay_time}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>
                                                % Accurate:
                                            </b>
                                        </td>
                                        <td>
                                            {{form.percentage_accurate}}
                                        </td>
                                    </tr>                                    
                                    <tr>
                                        <td colspan="2" class="text-center">
                                            <input type="hidden" name="vs" value="{{vs}}" id="vs">
                                            <input type="hidden" name="id" value="{{id}}" id="id">
                                            <input type="submit" name="submit" value="Add" id="submit"/>    
                                        </td>
                                    </tr>
                                </table>


                               
                               </form>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

     <!-- Footer -->
     {% include "./vsm_footer.html" %} 
    
{% endblock %}