{% extends "../../_1base/bootstrap_base.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Value Stream Mgmt{% endblock title %} 

{% block content %}
<div class="container-fluid">
    <!-- Header -->
    {% include "./vsm_header.html" %} 
    <!-- Menu -->
    {% include "./menu_valuestream.html" %} 
    <!-- Topic -->
    <div class="row">
        <div class="col col-md-12">
            <a href="{% url 'view_ops_valuestream' parent.id %}">{{parent.name}}'s</a>
        </div>
    </div>
    <!-- Begin: CONTENT -->
    <div class="row">
        <div class="col col-md-7">      
            <img src="{% static 'img/safe/dvs.png' %}" alt="">      
            Total: {{objects_count}} DVS       
        </div>
        <div class="col col-md-5 text-end">
            <a href="{% url 'add_dvs' parent.id %}" class="btn btn-success">+ Add Development Value Stream</a>   
        </div>
    </div>

    <!-- Listing and Results -->
    <div class="row">
        <div class="col col-md-12">
           
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th width="2%" align="right">#</th>
                        <th>
                            {{parent.name}}'s
                            <br>
                            Development Value Stream </th>
                        <th>Description</th>
                        <th>Supporting Ops Steps</th>
                        <th>Steps</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in objects %}
                    <tr>
                        <td width="2%" align="right">
                            {{forloop.counter}}
                        </td>
                        <td>{{object.name}}</td>
                        <td width="30%">{{object.description}}</td>
                        <td>
                            <ul>
                                {% for step in object.supported_ops_steps.all %}
                                    <li>{{ step.name }}</li>  <!-- Assuming the step model has a 'name' field -->
                                {% empty %}
                                    
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a href="{% url 'valuestream_steps' 'dev' object.id %}">Steps</a>
                        </td>
                        <td>                           
                            <a href="{% url 'view_dev_valuestream' object.id %}">View</a>
                            &nbsp;&nbsp;
                            <a href="{% url 'edit_dev_valuestream' object.id %}">Edit</a>
                            &nbsp;&nbsp;
                            <a href="">Delete</a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Footer -->
    {% include "./vsm_footer.html" %} 
</div>
{% endblock %}