{% extends "../../_1base/bootstrap_base.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Edit Ops Value Stream{% endblock title %} 

{% block content %}
<div class="container-fluid">
    <!-- header -->
    <div class="row">
        <div class="col col-md-5">
            Editing Ops Value Stream
        </div>
        <div class="col col-md-7 text-end">
            &nbsp;&nbsp;
            <a href="/">Home</a>
        </div>
    </div>
    <!-- role mgmt header/menu -->
    <div class="row">
        <div class="col col-md-12">

            &nbsp;&nbsp;
           <a href="{% url 'ops_valuestream_mgmt' %}"> Ops Value Stream: {{object}}</a>
            
        </div>
    </div>
    <!-- Listing and Results -->
    <div class="row">
        <div class="col col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Ops Value Stream: {{object}}</th>
                    </tr>
                </thead>
                <tbody>
                    <form method="post">
                        {% csrf_token %}
                    <tr>
                        <td>
                            <table class="table table-bordered">
                                <tr>
                                    <td width="15%">
                                        <b>
                                            Trigger:
                                        </b>
                                    </td>
                                    <td>
                                        {{form.trigger}}
                                    </td>
                                </tr>
                                <td width="15%">
                                    <b>
                                        Value:
                                    </b>
                                </td>
                                <td>
                                        {{form.value}}
                                </td>
                            </tr>
                            <tr>
                                <td width="15%">
                                    <b>
                                        Name:
                                    </b>
                                </td>
                                <td>
                                    {{form.name}}
                                </td>
                            </tr>   
                            <tr>
                                <td width="15%">
                                    <b>
                                        Description:
                                    </b>
                                </td>
                                <td>
                                    {{form.description}}
                                </td>
                            </tr>
                           
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                           <button type="submit">Save</button>
                        </td>
                    </tr>
                </form>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Footer -->
    {% include "./vsm_footer.html" %} 
</div>
{% endblock %}