{% extends "../../_1base/bootstrap_base.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Edit Ops Value Stream{% endblock title %} 

{% block content %}
<div class="container-fluid">
    <!-- header -->
    <div class="row">
        <div class="col col-md-5">
            Editing Ops Value Stream
        </div>
        <div class="col col-md-7 text-end">
            &nbsp;&nbsp;
            <a href="/">Home</a>
        </div>
    </div>
    <!-- role mgmt header/menu -->
    <div class="row">
        <div class="col col-md-12">

            &nbsp;&nbsp;
           <a href="{% url 'ops_valuestream_mgmt' %}"> Ops Value Stream: {{object}}</a>
            
        </div>
    </div>
    <!-- Listing and Results -->
    <div class="row">
        <div class="col col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Ops Value Stream: {{object}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit">Save</button>
                            </form>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Footer -->
    <div class="row">
        <div class="col col-md-12">
            Footer
        </div>
    </div>
</div>
{% endblock %}