{% extends "../../_1base/bootstrap_base.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Value Stream Mgmt{% endblock title %} 

{% block content %}
<div class="container-fluid">
    <!-- header -->
    <div class="row">
        <div class="col col-md-5">
            Header
        </div>
        <div class="col col-md-7 text-end">
            &nbsp;&nbsp;
            <a href="/">Home</a>
        </div>
    </div>
    <!-- role mgmt header/menu -->
    <div class="row">
        <div class="col col-md-12">
            Menu
        </div>
    </div>
    <!-- Role Mgmt -->
    <div class="row">
        <div class="col col-md-9"></div>
        <div class="col col-md-3 text-end">
            <a href="{%url 'add_ovs' %}">Add Operational Value Stream &nbsp;</a>
        </div>
    </div>
    <!-- Listing and Results -->
    <div class="row">
        <div class="col col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th width="2%" align="right">#</th>
                        <th>Value Stream Name</th>
                        <th width="25%">Description</th>
                        <th>Steps</th>
                        <th>Dev Value Stream(s)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in objects %}
                    <tr>
                        <td width="2%" align="right">
                            {{forloop.counter}}
                        </td>
                        <td>{{object.name}}</td>
                        <td width="25%">{{object.description}}</td>
                        <td>
                            {{ object.steps_count }}
                            &nbsp;&nbsp;
                            <a href="{% url 'valuestream_steps' 'ops' object.id %}">Steps</a>
                        </td>
                        <td>{{object.dev_valuestream_count}} &nbsp;
                            <a href="{% url 'dev_valuestream_mgmt' object.id %}">                                
                                Dev Value Stream(s)</a>
                        </td>
                        <td>
                           
                            <a href="{% url 'view_ops_valuestream' object.id %}">View</a>
                            &nbsp;&nbsp;
                            <a href="{% url 'edit_ops_valuestream' object.id %}">Edit</a>
                            &nbsp;&nbsp;
                            <a href="{% url 'delete_ovs' object.id %}">Delete</a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Footer -->
    <div class="row">
        <div class="col col-md-12">
            Footer
        </div>
    </div>
</div>
{% endblock %}