{% extends "../../_1base/bootstrap_base.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Value Stream Steps{% endblock title %} 

{% block content %}
<div class="container-fluid">
    <!-- header -->
    <div class="row">
        <div class="col col-md-5">
            Header
        </div>
        <div class="col col-md-7 text-end">
            &nbsp;&nbsp;
            <a href="/">Home</a>
        </div>
    </div>
    <!-- role mgmt header/menu -->
    <div class="row">
        <div class="col col-md-12">
            
            {% if vs == 'ops' %}
                <a href="{% url 'ops_valuestream_mgmt' %}">{{parent}}</a>
                &nbsp;
                <b>Operational ValueStream</b>            
            {% endif %}
            {% if vs == 'dev' %}
                <a href="{% url 'dev_valuestream_mgmt' parent.ops_valuestream.id %}">
                    {{parent.ops_valuestream}}
                    &nbsp;/&nbsp;
                    {{parent}}
                </a>
            {% endif %}
        </div>
    </div>
    <!-- Role Mgmt -->
    <div class="row">
        <div class="col-md-12">
           <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="name" id="step_name" size="35" maxlength="60">
            &nbsp;&nbsp;
            <input type="text" name="description" id="step_description" size="35" maxlength="60">
            &nbsp;&nbsp;
            <input type="text" name="value_creation_time" id="value_creation_time" size="4" maxlength="5">
            &nbsp;&nbsp;
            <input type="text" name="delay_time" id="delay_time" size="4" maxlength="5">
            <input type="hidden" name="vs" value="{{vs}}" id="vs">
            <input type="hidden" name="id" value="{{id}}" id="id">
            <input type="submit" name="submit" value="Add" id="submit"/>
           </form>
           <br>
        </div>
    </div>
    <!-- Listing and Results -->
    <div class="row">
        <div class="col col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th width="2%" align="right">#</th>
                        <th>Step Name</th>
                        <th width="30%">Description</th>
                        <th>Value Creation Time</th>
                        <th>Delays Time</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in steps %}
                    <tr>
                        <td width="2%" align="right">
                            {{forloop.counter}}
                        </td>
                        <td>{{object.name}}</td>
                        <td width="30%">{{object.description}}</td>
                        <td>{{object.value_creation_time}}</td>
                        <td>{{object.delay_time}}</td>
                        <td>
                           
                            <a href="">View</a>
                            &nbsp;&nbsp;
                            <a href="{% url 'edit_step' vs id object.id %}">Edit</a>
                            &nbsp;&nbsp;
                            <a href="">Delete</a>

                        </td>
                    </tr>
                    {% endfor %}
                    <tr>

                        <td colspan="3">{{object.total_value_creation_time}} + {{object.total_delay_time}}</td>
                        <td>= {{total_time}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Footer -->
    <div class="row">
        <div class="col col-md-12">
            Footer
        </div>
    </div>
</div>
{% endblock %}