{% extends "../../_1base/bootstrap_base.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block title %}ValueStream Steps{% endblock title %} 
{% block content %}
<style>
    #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
    #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
    #sortable li span { position: absolute; margin-left: -1.3em; }
    </style>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  // on load hide the datetime details and show when checkbox selected

  // sorted list  
  $( "#sortable" ).sortable({
      stop: function(event, ui) {
        var serialOrder = $('#sortable').sortable('serialize');
        var arrayOrder = $('#sortable').sortable('toArray');
        $.ajax({
          url: '/sorted_vsm_steps/',
          type: 'POST',
          data : {
            'csrfmiddlewaretoken': "{{ csrf_token }}",
            'sorted_list_data': JSON.stringify(arrayOrder)
          },
          dataType: 'json',
          success: function(data) {
            console.log(data);
          }
        });
         $(this).find('tr').each(function(i){
            $(this).children('td:nth-child(1)').text(i+1);
        });
      }
  });
  $( "#sortable" ).sortable();
  $( "#sortable" ).disableSelection();
});
</script>

<form action="" method="POST">
{% csrf_token %}
<div class="container-fluid">   
    <!-- header -->
    {% include "./vsm_header.html" %} 
    <!-- role mgmt header/menu -->
    {% include "./menu_valuestream.html" %} 
    <div class="row pt-2">
        <div class="col col-md-12 text-end">    
            <b>Value Stream Steps of </b>
            &nbsp;           
            {% if vs == 'ops' %}
                <a href="{% url 'ops_valuestream_mgmt' %}">{{parent}}</a>
                &nbsp;
                <b>Operational ValueStream</b>            
            {% endif %}
            {% if vs == 'dev' %}
                <a href="{% url 'dev_valuestream_mgmt' parent.ops_valuestream.id %}">
                    {{parent.ops_valuestream}}
                    &nbsp;/&nbsp;
                    {{parent}} {{vs}} {{ref_id}}
                </a>
            {% endif %}
            &nbsp;
            <br>
            View Value Stream Visually: 
            &nbsp;
            {% if vs == 'ops' %}    
            <a href="{% url 'summary_ops_valuestream' object.id %}">OVS Summary</a>
            &nbsp;&nbsp;
            <a href="{% url 'show_ovs_step_details' parent.id %}">OVS Step Details</a>
            {% endif %}
            {% if vs == 'dev' %}
            <a href="{% url 'summary_ops_valuestream' ovs.id %}">OVS Summary</a>&nbsp;&nbsp;
            <a href="{% url 'show_ovs_step_details' ovs.id %}">OVS Step Details</a> &nbsp;&nbsp;           
            |
            &nbsp;&nbsp;
            <a href="{% url 'summary_dev_valuestream' object.id %}">DVS Summary</a>&nbsp;&nbsp;
            <a href="{% url 'show_dvs_step_details' ovs.id object.id %}">DVS Step Details</a>
            {% endif %}
          
           
       
            {% if vs == 'ops' %}  
            &nbsp;&nbsp;
            <a href="{% url 'add_vsm_steps' vs id %}" class="btn btn-sm btn-primary pb-2">+ Add Operational Value Stream Step</a>
            &nbsp;&nbsp;
            {% endif %}
            {% if vs == 'dev' %}
            &nbsp;&nbsp;
            <a href="{% url 'add_vsm_steps' vs id %}" class="btn btn-sm btn-primary pb-2">+ Add Development Value Stream Step</a>
            &nbsp;&nbsp;
            {% endif %}
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-md-12">
            <table  id="outline" class="table table-bordered" >
                <tr>
                  
                    <th width="2%" align="right">#</th>
                    <th>Step Name</th>
                    <th width="30%">Description</th>
                    <th>Value Creation Time </th>
                    <th>Delay Time </th>
                    <th>Actions</th>
                </tr>
                <tbody id="sortable">
                {% for object in steps %}
                <tr id="{{object.id}}_{{ forloop.counter }}" class="ui-state-default" style='background-color: white;'>
                   
                    <td width="2%" align="right">
                        {{forloop.counter}}
                    </td>
                    <td>{{object.name}}</td>
                    <td width="30%">{{object.description}}</td>
                    <td>{{object.value_creation_time}} min(s)</td>
                    <td>{{object.delay_time}} min(s)</td>
                    <td>                       
                        <a href="{% url 'view_step' vs id object.id %}">View</a>
                        &nbsp;&nbsp;
                        <a href="{% url 'edit_step' vs id object.id %}">Edit</a>
                        &nbsp;&nbsp;
                        <a href="{% url 'delete_step' vs id object.id %}">Delete</a>

                    </td>
                </tr>
                {% endfor %}
                </tbody>                
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <table class="table table-bordered">
                <tr>
                    <td>
                         Total Value Creation Time  + Total Delay Time  = Total Time  <br>
                         i.e., {{parent.total_value_creation_time}}  +  {{parent.total_delay_time}}  = {{parent.total_time}} 
                    </td>
                </tr>
                <tr>
                    <td>
                         (Total Value Creation Time  / Total Time ) * 100 % = VSM Process Efficency % <br>
                      i.e., ({{parent.total_value_creation_time}}  / {{parent.total_time}} ) * 100 % = {{parent.efficiency}} %
                    </td>
                </tr>
            </table>           
        </div>
    </div>
</div>
</form>


<script>
 $(document).ready(function () {
      // Prevent checkbox vanishing issue
      $('input[type="checkbox"]').on('mousedown', function (e) {
        e.stopPropagation();
      });
    });
function checkUncheck(checkBox) {
    get = document.getElementsByName('object_box');
    for(var i=0; i<get.length; i++) {
        get[i].checked = checkBox.checked;
    }
}
</script>
 <!-- Footer -->
 {% include "./vsm_footer.html" %} 
{% endblock content %}