{% extends "../../_1base/bootstrap_base.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Value Stream Mgmt{% endblock title %} 

{% block content %}
<style>
    .my_table {
        border-top: 2px dashed black;
        margin-left: 40px;
        margin-right: 40px;
        border-bottom: 2px solid black;
    }

    .my_table th, .my_table td {
        text-align: center;
        vertical-align: middle;     
    }

    .leftline{
         border-left: 2px dashed black;
         height: 30px;
    }
    .rightline{
         border-right: 2px dashed black;
         height: 30px;
    }
    .leftlineb{
         border-left: 2px solid black;
         height: 60px;
    }
    .rightlineb{
         border-right: 2px solid black;
         height: 60px;
    }

    .my_table td {
    position: relative; /* Ensures the table cell allows for overflow content */
    }

    .my_table td img {
    display: block; /* Ensures the image doesn't have extra space below it */
    }
    .trigger {
        margin-left: -30px; /* Pulls the div (and thus the image inside it) 80px to the left */
        display: inline-block;
    }
    .value {
        margin-right: -30px;
        display: inline-block;
    }
    .overlay-text-left {
    position: absolute;
    top: 100%; /* Centers the text vertically */
    left: 0%; /* Centers the text horizontally */
    transform: translate(-50%, -50%); /* Adjusts the positioning to truly center the text */
    color: black; /* Text color */
    /* Additional styling for the text */
    font-size: 10px;
    white-space: wrap;
    background-color: orange;
    }
    .overlay-text-right {
    position: absolute;
    top: 100%; /* Centers the text vertically */
    right: 0%; /* Centers the text horizontally */
    transform: translate(-50%, -50%); /* Adjusts the positioning to truly center the text */
    color: black; /* Text color */
    /* Additional styling for the text */
    font-size: 10px;
    white-space: wrap;
    background-color: orange;
    }


    .postitleft {
    position: absolute;
    top: 100%; /* Adjust as needed */
    left: -70%; /* Adjust as needed */
    width: 8vw;
    height: 8vh;
    background-color: yellow; /* Classic post-it note color */
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* Gives a slight shadow for depth */
    font-size: 11px; /* Approximation: Adjust based on your needs and testing */
    word-wrap: break-word; /* Ensures text wraps within the container */
    overflow: hidden; /* Keeps the content contained within the div */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    }
    .postitright {
    position: absolute;
    top: 100%; /* Adjust as needed */
    left: 10%; /* Adjust as needed */
    width: 8vw;
    height: 8vh;
    background-color: yellow; /* Classic post-it note color */
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* Gives a slight shadow for depth */
    font-size: 11px; /* Approximation: Adjust based on your needs and testing */
    word-wrap: break-word; /* Ensures text wraps within the container */
    overflow: hidden; /* Keeps the content contained within the div */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    }

</style>
<div class="container-fluid">
    <!-- header -->
    {% include "../../_1base/header.html" %} 
    <!-- role mgmt header/menu -->
    {% include "./menu_valuestream.html" %} 
    <!-- Listing and Results -->
    <div class="row">
        <div class="col col-md-12">
            <b>{{object}}</b> Value Stream Steps
            <table class="my_table">                 
                <tr>
                    <td>
                        <div class="leftline"></div>
                        <div class="trigger">
                            <img class="moveleft" src="{% static 'img/safe/trigger_vs.png' %}" alt="">
                            <div class="postitleft">{{object.trigger}}</div>
                         </div>                
    
                    </td>
                    <td>
                        <img src="{% static 'img/safe/start_arrow.png' %}" alt="">
                    </td>
                    {% for step in vsm_steps %}
                        <td>                            
                            <img src="{% static 'img/safe/step_vs.png' %}" alt="">
                         </td>
                        <td>
                            <img src="{% static 'img/safe/flow_with_delay.png' %}" alt="">
                        </td>
                    {% endfor %}
                    <td>
                        <div class="rightline"></div>
                        <div class="value">
                            <img src="{% static 'img/safe/value_vs.png' %}" alt="">  
                            <div class="postitright">{{object.value}}</div>
                          </div>                       
                                                            
                    </td>
                </tr>          
                
                <tr>
                    <td>
                        
                    </td>
                    <td>

                    </td>
                    {% for step in vsm_steps %}
                        <td>                            
                              {{step.name}}
                        </td>
                        <td>
                        </td>
                    {% endfor %}
                    <td>
                         <div class="value_text">
                            
                         </div>     
                                                   
                    </td>
                </tr>          
                
                <tr>
                    <td>
                        <div class="leftlineb"></div>              
    
                    </td>
                    <td>

                    </td>
                    {% for step in vsm_steps %}
                        <td>                            
   
                         </td>
                        <td>
  
                        </td>
                    {% endfor %}
                    <td>
                        <div class="rightlineb"></div>
                                       
                    </td>
                </tr>          
                
            </table>
        </div>
    </div>
    
    <!-- Footer -->
    {% include "../../_1base/footer.html" %} 
</div>
{% endblock %}