{% extends "../../_1base/bootstrap_base.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Dev Value Stream View{% endblock title %} 
{% load custom_tags %}
{% block content %}

<div class="container-fluid">
<!-- header -->
{% include "../../_1base/header.html" %} 
<!-- role mgmt header/menu -->
{% include "./menu_valuestream.html" %} 
<!-- Listing and Results -->
<div class="row">
    <div class="col col-md-5 text-start">
        <a href="{% url 'ops_valuestream_mgmt' %}">Ops Value Stream: {{object.ops_valuestream}}</a>
        &nbsp;&nbsp;
        <a href="{% url 'dev_valuestream_mgmt' parent %}">Dev Value Stream: {{object}}</a>
        Value Stream has total {{steps_count}} Steps
    </div>
    <div class="col col-md-7 text-end">
        &nbsp;&nbsp;
        <a href="{% url 'valuestream_steps' 'dev' object.id %}">Steps</a>
    </div>
</div>   
<div class="row">
    <div class="col col-md-12">

    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2">DVS: {{object}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="10%" class="text-end">
                        <b>Name</b>
                    </td>
                    <td class="text-start">
                        {{object.name}}
                    </td>
                </tr>
                <tr>
                    <td width="10%" class="text-end">
                        <b>Description</b>
                    </td>
                    <td class="text-start">
                        {{object.description}}
                    </td>
                </tr>
                <tr>
                    <td width="10%" class="text-end">
                        <b>Trigger</b>
                    </td>
                    <td class="text-start">
                        {{object.trigger}}
                    </td>
                </tr>
                <tr>
                    <td width="10%" class="text-end">
                        <b>Value</b>
                    </td>
                    <td class="text-start">
                        {{object.value}}
                    </td>
                </tr>
                <tr>
                    <td width="10%" class="text-end">
                        <b>Steps</b>
                    </td>
                    <td class="text-start">
                        Contains {{steps_count}} 
                        <a href="{% url 'valuestream_steps' 'dev' object.id %}">Steps</a>
                        from Trigger to Value
                    </td>
                </tr>
               
                <tr>
                    <td width="10%" class="text-end">
                        <b>Total Value Creation Time</b>
                    </td>
                    <td class="text-start">
                        {{object.total_value_creation_time}} 
                    </td>
                </tr>
                <tr>
                    <td width="10%" class="text-end">
                        <b>Total Delay Time</b>
                    </td>
                    <td class="text-start">
                        {{object.total_delay_time}} 
                    </td>
                </tr>
                <tr>
                    <td width="10%" class="text-end">
                        <b>Total / Lead Time</b>
                    </td>
                    <td class="text-start">
                        {{object.total_time}} 
                    </td>
                </tr>
                <tr>
                    <td width="10%" class="text-end">
                        <b>Efficency</b>
                    </td>
                    <td class="text-start">
                        {{object.efficiency}} 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}