<div class="lightgrey_bg py-1">
    <div class="container-fluid-width">
        <!-- <b></b>{{page}} -->
            {% if page == 'home' %} <b>Home</b> {% else %} <a href="/">Home</a>{% endif %}            
            &nbsp;&nbsp;&nbsp;
            {% if page == 'list_home' %} <b>List</b> {% else %}<a href="{% url 'list_home' %}">List</a>{% endif %}
            &nbsp;&nbsp;&nbsp;
            {% if page == 'list_js_tree' %} <b>List Tree</b> {% else %}<a href="{% url 'list_js_tree' %}">List Tree</a>{% endif %}
            &nbsp;&nbsp;&nbsp;
            {% if page == 'type_home' %} <b>Type</b> {% else %} <a href="{% url 'type_home' %}">Type</a>{% endif %}
            &nbsp;&nbsp;&nbsp;
            {% if page == 'type_js_tree' %} <b>Type Tree</b> {% else %}<a href="{% url 'type_js_tree' %}">Type Tree</a>{% endif %}
            
    </div>
    </div>
    <div class="lightblue_bg  py-1">
        <div class="container-fluid-width">
            <!-- <h6 class="mb-0 text-white">Develop &gt; Be Agile &gt; Achieve Agility</h6> -->
        </div>
    </div>
</div>