<style>
 .excel_table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
  }

  .excel_th, .excel_td {
    border: 1px solid black;
    padding: 1px;
    text-align: left;
    font-size: 10pt;
  }

  .excel_th {
    background-color: #f2f2f2;
  }
  .align_right {
    text-align: end;
  }
  .align_center {
    text-align: center;
  }
  .align_left {
    text-align: start;
  }
  .excel_tr:nth-child(even) {
    background-color: #f2f2f2;
  }
   /** Variant1 **/
  .excel_table_v1 {
    border-collapse: collapse;
    width: 100%;
  }

  .excel_th_v1, .excel_td_v1 {
    border: 1px solid grey;
    padding: 1px;
    text-align: left;
    font-size: 10pt;
  }

  .excel_th_v1 {
    background-color: #f2f2f2;
  }

  .excel_tr_v1:nth-child(even) {
    background-color: #f2f2f2;
  }
</style>