{% extends "../_1base/bootstrap_base.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Welcome{% endblock title %} 
{% block content %}
{% if user.is_authenticated %}
{% include "./user_loggedin_menu.html" %}
<div class="container-fluid">
    <!-- content part1 -->
    <div class="row">
        <div class="col col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="4">User: {{user.username}}'s Dashboard</th>
                    </tr>
                </thead>
                <tbody>
                   <tr>
                    <td colspan="4">
                        User's Profile, Role Workspace, and Organization Access
                    </td>
                   </tr>
                </tbody>
            </table>
            <!-- card1 -->

                <div class="row">
                    <div class="col col-md-4">

                        <!-- Bootstrap card -->
                        <div class="card fixed-height-card">
                            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                            <div class="card-body">
                            <h5 class="card-title">My Profile &amp; Workspace</h5>
                            <p class="card-text">
                                Setup and configure your Personal Profile and Settings.
                            </p>
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'my_profile_page' %}" class="btn btn-primary">
                                    My Profile &amp; Workspace
                                </a>
                            </div>
                        </div>

                    </div>
                    
                    <div class="col col-md-4">

                        <!-- Bootstrap card -->
                        <div class="card fixed-height-card">
                            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                            <div class="card-body">
                            <h5 class="card-title">My Roles</h5>
                            <p class="card-text">
                                Access your Roles in General and in Project(s).
                            </p>
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'my_roles_page' %}" class="btn btn-primary">
                                    My Roles
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="col col-md-4">

                        <!-- Bootstrap card -->
                        <div class="card fixed-height-card">
                            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                            <div class="card-body">
                            <h5 class="card-title">My Organizations</h5>
                            <p class="card-text">
                                Access your Organization(s) and View Organizations on this site.
                            </p>
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'my_organizations_page' %}" class="btn btn-primary">
                                    My Organizations
                                </a>
                            </div>
                        </div>
                       
                    </div>
           
        </div>
    </div>
    <!-- end content part1 -->
</div>
{% else%}
  {% include './_2user/guest_user.html' %}
{% endif %}
{% endblock content %}



