{% extends "base.html" %} 
{% load static %}
{% block title %}Group Mgmt Details Page{% endblock title %} 
{% block content %}
<div class="container-fluid">
    {% include '1.mvp_header.html' %}
    {% include 'role_based_templates/group_mgmt/__group_mgmt_menu.html' %}
    <div class="row">
        <div class="col-md-12">
            <b>Group Details :: {{group}}</b>
             &nbsp;&nbsp;<a href="{% url 'group_mgmt_update' group.pk %}">Edit</a>

            <table class="table table-bordered">
                <tr>
                    <th colspan="2">Group Details of {{group.name}}</th>
                </tr>
                <tr>
                    <td>Group:</td><td>{{group.name}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock content %}