{% extends './base.html' %}

{% block content %}
  <h2>Add Dev Transformation Canvas</h2>
  <form method="post">
    {% csrf_token %}
    <table class="table table-bordered">
      <tr>
        <td width="15%">
          <b>
            Name:
          </b>
        </td>
        <td>
          {{form.name}}
        </td>
      </tr>
      <tr>
        <td width="15%">
          <b>
            Description
          </b>
        </td>
        <td>
          {{form.description}}
        </td>
      </tr>
    </table>
    <input type="hidden" name="devvaluestream" value="{{id}}">
    <button type="submit">Save</button>
  </form>
  <a href="{% url 'dev_trx_list_canvas' id %}">Back to list</a>
{% endblock %}
