{% extends "../../../_1base/bootstrap_base.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block title %}List OVS Transformation Canvases{% endblock title %} 
{% load custom_tags %}
{% block content %}
<div class="container-fluid">
{% include "../canvas_header.html" %} 
{% include "../canvas_menu.html" %} 
<div class="row">
  <div class="col col-md-12 text-end">
    <a href="{% url 'show_dvs_step_details' devvaluestream.ops_valuestream.id id %}">DVS Step Details</a>
  </div>
</div>
<div class="row">
    <div class="col col-md-12">
       <!-- Title -->
        <table class="table table-bordered">
          <tr>
            <td colspan="1" class="text-start">
              <b>OVS: {{devvaluestream.ops_valuestream}}</b>
              <h2>DVS: {{devvaluestream}} Transformation Canvases</h2>
              Here you create an opportunity for continuous improvement
            </td>
            <td colspan="1" class="text-end">
              <a href="{% url 'dev_trx_add_canvas' id %}" class="btn btn-sm btn-success">
                + Add DVS Transformation Canvas
              </a>
            </td>
          </tr>
          </table>
          <!-- Display-->
          <table class="table table-bordered"> 
            <thead>
              <tr>
                <th width="1%">#</th>
                <th>Canvas</th>
                <th>Actions</th>
              </tr>
            </thead>           
            <tbody>
            {% for canvas in canvases %}
            <tr>
              <td width="1%" class="text-end">
                {{forloop.counter}}
              </td>
              <td>
                {{ canvas.name }}
              </td>
              <td>
                <a href="{% url 'dev_trx_view_canvas' canvas.id %}">View</a>
                &nbsp;&nbsp;
                <a href="{% url 'dev_trx_edit_canvas' canvas.id %}">Edit</a>
                &nbsp;&nbsp;
                <a href="{% url 'dev_trx_delete_canvas' canvas.id %}">Delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>            
          </table>
    </div>
</div>
{% include "../canvas_footer.html" %} 
{% endblock content %}

