{% extends "../_1base/modern_welcome_base.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Help{% endblock title %} 
{% block content %} 
<!-- BEGIN: PAGE -->
<div class="container-fluid">
    <div class="row nogutters">
        <div class="col col-md-12">
            <h2>Help</h2>
            <p>We are here to help your organization transform into a self-organized path of continuous improvement.</p>
            <p>We provide the following: 
                <ul>
                    <li>
                        <b>Organization Transformation:</b>
                         Tranformation related coaching, consulting, preparation, and guidance.
                    </li>
                    <li>
                        <b>Transformation Leadership:</b>
                        Transformation Leadership is mission critical for every organization for a awareness, transformation, continuous improvement and sustainability.
                    </li>
                    <b>Transformation Software &amp; Related Services:</b>
                    Tranformation needs to be simplified as it is key to drive the organization and people's growth.
                    We provide a Transformation suite which is open-source and customizable for your needs like implementing 
                    <ul>
                        <li>Team Level Transformaation</li>
                        <li>Project/Program Level Transformation</li>
                        <li>Portfolio Level Transformation</li>
                        <li>Large Scale Solutions, Non-Portfolio Solutions</li>
                        <li>Enterprise Scale Transformations</li>
                    </ul>
                </ul>
            </p>
            <p>In this website, if you need any clarity or feedback please reach out to us at <b>contact at agiletia.com</b></p>
        </div>
    </div>
</div>
<!-- END: PAGE --> 
{% endblock content %}