{% extends "../../common/__base_header_left_right_footer.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block title %}List Home{% endblock title %} 
{% block content %}
{% if user.is_authenticated %}

<style>
    .list_td {
       
    }
    .delete_x {
        font-size: larger;
        font-weight:bolder;
        color: red;
       
    }
    .list_info {
        
    }
    .list_action {
       
    }
    .next_step {
        

    }
    .display_tr {
        background-color: yellow;
        border: 1px solid white;
    }
    .display_td {
        border: 1px solid white;
    }
</style>


<form action="">
    {% csrf_token %}
</form>
<!-- Header -->
{% include "../../common/__001_header1.html" %}
{% if True %}
{% include "../../common/__002_header2.html" %}
<!-- 
{% include "../../common/__003_header3.html" %}
 -->
{% endif %}
<!-- Header -->
<!-- Main content -->
<div class="container-fluid content-wrap d-flex flex-column">
    <div class="row flex-grow pt-1">        
      <!-- Left Pane -->
      <div class="col-md-12  d-flex flex-column p-0 m-0">
        
<div class="container-fluid">
    
    <!-- the INPUT FORM for the Type -->
    <div class="row pb-2">
        <div class="col-md-2"></div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <form action="" method="POST">
                {% csrf_token %}
                <b>Type:</b>&nbsp;&nbsp;
                <input type="text" name="title" id="id_title" size="40">&nbsp;&nbsp;
                <input type="submit" name="add" value="Add">
            </form>
            &nbsp;&nbsp;
            {{objects_count}} item(s)
        </div>
        <div class="col-md-4 d-flex justify-content-end align-items-center">
           <a href="">
            <img 
            src="{% static 'img/bst_icons/trash.svg' %}" 
            class="" alt="restore" class=""> 
           </a>
        </div>
    </div>
    <!-- DISPLAY the LIST -->
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center align-items-center">
            <table class="sortable_table" width="60%">
                <!-- BEGIN THEAD -->

                <!-- END THEAD -->
                <!-- BEGIN TBODY -->
                <tbody  id="sortable" class="sortable-tbody">
                {% for object in objects %}
                    <tr id="{{object.id}}_{{ forloop.counter }}" class="sortable-row display_tr">
                        <!-- col 1, 2, 3, 4-->
                        <td class="list_info" style="text-align: right;" width="4%">
                            <span>
                                {{forloop.counter}}
                            </span>
                        </td>
                        <td class="title_text list_td" name="title" contenteditable="true"
                            width="30%">
                           <span class="" style="padding-left: 10px;">
                            <b>{{object}}</b>
                           </span>
                        </td>
                        <td class="list_action" contenteditable="false" width="8%">
                            {% with completion_stats=object.get_completion_stats %}
                            {% if completion_stats.percent_complete == 100 %}           
                            <span>
                            <form action=""> 
                            <input id="{{object.id}}_{{ forloop.counter }}" type='checkbox' name='completed' 
                              class='done_checkbox' 
                              {% if object.done  %}
                                checked
                              {% endif %}
                              />          
                            </form> 
                            </span>
                            {% endif %}
                            {% if object.is_leaf_node and completion_stats.percent_complete < 100  %}
                            <span>
                              <form action=""> 
                              <input id="{{object.id}}_{{ forloop.counter }}" type='checkbox' name='completed' 
                                class='done_checkbox' 
                                {% if object.done  %}
                                  checked
                                {% endif %}
                                />          
                              </form> 
                              </span>
                              {% endif %}
                            {% endwith %} 
                        </td>
                        <td class="list_action" contenteditable="false" width="4%">
                            <span class="delete_x">
                                <a href="{% url 'delete_type_item' object.id %}" style="text-decoration: none;">
                                    <img 
                                    src="{% static 'img/icons/x-lg.svg' %}" 
                                    class="" alt="Delete" class=""> 
                                </a>
                            </span>
                        </td>
                        <!-- <td class="list_action" contenteditable="false">
                            &nbsp;&nbsp;
                            <span class="next_step">
                                <a href="" style="text-decoration: none;">
                                    <img 
                                    src="{% static 'img/bst_icons/gear.svg' %}" 
                                    class="" alt="Level" class=""> 
                                </a>
                            </span>
                            &nbsp;&nbsp;
                        </td>
                        <td class="list_action" contenteditable="false">
                            &nbsp;&nbsp;
                            <span class="next_step">
                                <a href="" style="text-decoration: none;">
                                    <img 
                                    src="{% static 'img/icons/archive.svg' %}" 
                                    class="" alt="Archive" class=""> 
                                </a>
                            </span>
                            &nbsp;&nbsp;
                        </td> -->
                        <td class="list_action" contenteditable="false" width="4%">

                            <span class="next_step">
                                <a href="{% url 'type_items' object.id %}" style="text-decoration: none;">
                                    <img 
                                    src="{% static 'img/icons/levels.svg' %}" 
                                    class="" alt="Level" class=""> 
                                </a>
                            </span>

                        </td>  
                        <td class="list_action" contenteditable="false" width="10%">

                            <span class="next_step">
                                <a href="{% url 'clone_type_items' object.id %}?type=yes" style="text-decoration: none;">
                                    <img 
                                    src="{% static 'img/bst_icons/copy_1.svg' %}" 
                                    class="" alt="Level" class=""> 
                                </a>
                                &nbsp;&nbsp;
                                <a href="{% url 'deep_clone_type_items' object.id %}?type=yes" style="text-decoration: none;">
                                    <img 
                                    src="{% static 'img/bst_icons/clipboard.svg' %}" 
                                    class="" alt="Level" class=""> 
                                </a>
                                &nbsp;&nbsp;
                                <a href="{% url 'type_js_tree_id' object.id %}" style="text-decoration: none;">
                                    <img 
                                    src="{% static 'img/bst_icons/tree.svg' %}" 
                                    class="" alt="Level" class=""> 
                                </a>
                            </span>

                        </td>                             
                    </tr>
                    {% endfor %}
                    </tbody>
                    <!-- END TBODY -->
            </table>
        </div>
    </div>
</div>
<script>
    // Set the focus for the input field
    inputTitleField = document.getElementById('id_title');
    inputTitleField.focus();

    // update the done status
    $(".done_checkbox").click(function (event) {
      updateTodo($(this));
    });
    $('.title_text').on('blur', function () {
        updateTodo($(this));
    });
    function updateTodo($element) {
        var $tr = $element.closest('tr');
        var object_id = $tr.attr('id').split('_')[0];  // Extract todo_id from the ID
        var title = $tr.find('[name="title"]').text().trim();   
        var done = $tr.find('.done_checkbox').prop('checked');  // Convert checkbox value to boolean

        $.ajax({
              type: 'POST',
              url: '{% url "ajax_update_type_item" %}',
              data: {
                  object_id: object_id,
                  title: title,
                  done: done,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              success: function(response) {
                  if (response.success) {
                      $('#saved').fadeIn().delay(1000).fadeOut();
                  }
              }
          });
    }
    
</script>

<script>
    $(".sortable_table").find("tbody").sortable({
      items: "> tr",
      appendTo: "parent",
      cancel: "[contenteditable]",
      update: function(event, ui) {
              var serialOrder = $('#sortable').sortable('serialize');
              var arrayOrder = $('#sortable').sortable('toArray');
              //alert(arrayOrder);
              $.ajax({
                url: 'ajax_update_type_sorted',
                type: 'POST',
                data : {
                  'csrfmiddlewaretoken': "{{ csrf_token }}",
                  'sorted_list_data': JSON.stringify(arrayOrder),
                },
                dataType: 'json',
                success: function(data) {
                  console.log(data);
                }
              })
            }
    });
    </script>
      </div>
    </div>
</div>
<!-- Footer -->
<div class=" text-center py-1 mt-auto">
    <div class="container">
        <p class="mb-0 footer-text"> {{COPYRIGHT_INFO}} </p>
    </div>
</div>




{% else%}
  {% include './GUEST_USER.html' %}
{% endif %}
{% endblock content %}