{% extends "base.html" %} 
{% load static %}
{% block title %}Restore Project{% endblock title %} 
{% block content %}
{% include '../../../../1.toplevel.html' %}
{% include '../../../../2.navbar.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h5>Restore Project</h5>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form action="" method='POST' class='form'>
                {% csrf_token %}
                <div class="form__group">
                <p>Do you want to restore this Project <b>{{project}}</b>?</p>
                </div>
                <div class="for__group">
                <input type="submit" value='Confirm Restore' class='btn btn-success'>
                </div>
                </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock content %}