<div class="row">
    <div class="col col-md-12">
       
        {% if page == "organization_page" %}
            <b>Organization: {{organization}}</b>
        {% else %}         
            <a href="{% url 'organization_page' organization.id %}">Organization: {{organization}}</a>
        {% endif %}
        &nbsp;|&nbsp;
        {% if page != "organization_big_picture" %}
            <a href="{% url 'organization_big_picture' organization.id %}">Big Picture</a>
        {% else %}
            <b>Big Picture</b>
        {% endif %}
        &nbsp;|&nbsp;
        {% if page == "organization_ref_arch" %}
            <b>Reference Architecture</b>
        {% else %}            
            <a href="{% url 'organization_ref_arch' organization.id %}">Reference Architecture</a>
        {% endif %}
        {% if is_org_admin %}
            &nbsp;|&nbsp;
            {% if page == "organization_admin_page" %}
                <b>Administration</b>                
            {% else %}
                <a href="{% url 'organization_admin_page' organization.id %}">Administration</a>
            {% endif %}
        {% else %}
             &nbsp;|&nbsp;
            <b>Administration</b>
        {% endif %}
    </div>
</div>