{% extends "../../common/__base_header_left_right_footer.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block title %}WBS Display{% endblock title %} 
{% block content %}
{% if user.is_authenticated %}

<form action="">
    {% csrf_token %}
</form>
<!-- Header -->
<div class="container-fluid">
    <div class="row">
        <div class="col col-md-5">
            <a href="{% url 'organization_admin_page' organization_id %}">{{organization}}</a>
        </div>
        <div class="col col-md-7"></div>
    </div>
</div>
{% if True %}

<!-- 
{% include "../../common/__003_header3.html" %}
 -->
<div class="green_bg text-white py-1">
    <div class="container-fluid-width">
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="left_header" id="left_header1">
                    {% if mapping_wbs != None %}
                    {{mapping_wbs.organization}}
                    {% else %}
                    {{root_object}}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8 d-flex justify-content-start">
                <div class="right_header" id="right_header1">
                    Details
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- Header --> 
<!-- Main content -->
<div class="container-fluid content-wrap d-flex flex-column">
    <div class="row flex-grow">        
      <!-- Left Pane -->
      <div class="col-md-4  d-flex flex-column p-0 m-0">
        <div id="jstree_display" class="flex-grow p-0 m-0 ">
          <!-- jstree content -->
          
         <!-- LEFT CONTENT -->
         <div id="jstree" class="jstree1"></div>
         <!-- LEFT CONTENT -->
        </div>
      </div>      
      <!-- Right Content -->
      <div class="col-md-8  d-flex flex-column p-0 m-0">
        <div id="content" class="flex-grow p-0 m-0">
          <!-- content will be loaded here -->
          
          <!-- RIGHT CONTENT -->
          <div id="detailsDiv"></div>
          <!-- RIGHT CONTENT -->
          <!-- content display -->
         </div>
      </div>
    </div>
</div>
<!-- Footer -->
<div class=" text-center py-1 mt-auto">
    <div class="container">
        <p class="mb-0 footer-text"> {{COPYRIGHT_INFO}} </p>
    </div>
</div>


<script>
    $(document).ready(function(){
    var type_details = null;
    $('#jstree').jstree({
        'core': {
            "expand_selected_onload" : false,
            "check_callback": true,
            'data': function(node, callback) {
                $.ajax({
                'url': '/ajax_get_tree_data_id',  // URL to your Django view
                'type': 'POST',  // set to POST
                'data': {
                    'list_id': '{{list_id}}',  // include list_id in the POST data
                    csrfmiddlewaretoken: '{{ csrf_token }}', // add CSRF token for Django
                },
                'dataType': 'json',
                'success': function(response) {
                    // Use one part for populating the tree
                    for (let i = 0; i < response.data.length; i++) {
                        if (response.data[i].id === '{{list_id}}') { // Assuming 'id' is the field that contains the node's ID
                            response.data[i].parent = "#";  // Set parent to "#" to make it appear as root
                        }
                    }
                    callback.call(this, response.data);
                    // Do something with typeDetails
                    
             } });
            }
        },
        'types': {
            "site": {
            "icon": "{% static 'img/type_icons/type_site.svg' %}"
            },
            "strategic theme": {
            "icon": "{% static 'img/type_icons/business_case.svg' %}"
            },
            "initiative": {
            "icon": "{% static 'img/type_icons/type_epic1.svg' %}"
            },
            "epic": {
            "icon": "{% static 'img/type_icons/type_epic.svg' %}"
            },
            "space": {
            "icon": "{% static 'img/type_icons/type_space.svg' %}"
            },
            "service": {
            "icon": "{% static 'img/type_icons/type_service.svg' %}"
            },
            "feature": {
            "icon": "{% static 'img/type_icons/type_product.svg' %}"
            },
            "capability": {
            "icon": "{% static 'img/type_icons/capability.svg' %}"
            },
            "task": {
            "icon": "{% static 'img/type_icons/type_task1.svg' %}"
            },
            "component": {
            "icon": "{% static 'img/type_icons/type_component.svg' %}"
            },
            "user story": {
            "icon": "{% static 'img/type_icons/type_persona.svg' %}"
            },
            "organization": {
            "icon": "{% static 'img/type_icons/type_organization.svg' %}"
            },
            "portfolio": {
            "icon": "{% static 'img/type_icons/type_portfolio.svg' %}"
            },
            "program": {
            "icon": "{% static 'img/type_icons/type_program.svg' %}"
            },
            "project": {
            "icon": "{% static 'img/type_icons/type_project.svg' %}"
            },
            "product": {
            "icon": "{% static 'img/type_icons/type_product.svg' %}"
            },
            "spike": {
            "icon": "{% static 'img/type_icons/type_spike.svg' %}"
            },
            "solution": {
            "icon": "{% static 'img/type_icons/type_solution.svg' %}"
            },
            "valuestream": {
            "icon": "{% static 'img/type_icons/type_valuestream.svg' %}"
            },
            "default": {
            "icon": "{% static 'img/bst_icons/card_list.svg' %}"
            },
        },
        'plugins' : ['dnd', 'contextmenu', 'state', 'types'],
        'contextmenu': {items: customMenu} //
    })
    .on('ready.jstree', function(e,data){
        //$('#jstree').jstree('open_all');
        $('#jstree').jstree('deselect_all');
        $('#jstree').jstree('select_node', '{{list_id}}');
    })
    .on('move_node.jstree', function(e, data) {
        // Calculate move type ('before', 'after', or 'inside')
        moveType = data.position;
        
        console.log("Data movetype:", moveType);
        $.ajax({
            url: '/ajax_move_node',
            data: {
                'node_id': data.node.id,
                'target_id': data.node.parent,
                'position': moveType,
            },
            success: function(response) {
                if(response.status === 'error') {
                    alert('Could not move node: ' + response.message);
                }
            }
        });
    });
    $('#jstree').on('loaded.jstree', function() {
        $('#jstree').jstree('select_node', "{{list_id}}");
    });
    // load the node details
    $('#jstree').on("changed.jstree", function (e, data) {
        if(data && data.selected && data.selected.length) {
            var node = data.instance.get_node(data.selected[0]);
            
            // // Do something with the node details, for example:
            // $('#detailsDiv').html('Selected Node ID: ' + node.id + '<br>' +
            //                     'Selected Node Text: ' + node.text);
            // Use AJAX to fetch additional node details
            $.ajax({
                    url: `/ajax_get_node_details_template`,
                    type: 'POST',
                    data : {
                        'node_id': node.id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function(response) {
                        // Display fetched data in the details div
                        // the detailsHTML is the backup or earlier testing version
                                const detailsHTML = `
                            <div class="details-card">
                                <h3>${node.id} ${response.parent} :: ${response.title}</h3>
                                <strong>Description:</strong>                             
                                <div class="details-section" id="${node.id}" contenteditable="true">${response.description ? response.description : ''}</div>                              
                            </div>
                        `;
                        // loading the template ** THIS IS CURRENT **
                        $('#detailsDiv').html(response);
                    }
                });
            }
    });

    // Bind the double-click event
    $('#jstree').bind("dblclick.jstree", function (event) {  
        var jstree = $('#jstree').jstree(true);    
        var selectedNode = $('#jstree').jstree('get_selected', true);  
        if (selectedNode && selectedNode.length > 0 && selectedNode[0].id != "0") {
            // Try with selected node
            jstree.edit(selectedNode[0]);
        }
    })
    // Bind the rename node event
    .bind("rename_node.jstree", function (e, data) {    
        if (data.node.text && data.text !== data.old) {   
            // Code to update the new name to the data source.
            $.ajax({
                    url: '/ajax_rename_list_item', // Replace with your Django view URL
                    type: 'POST',
                    data: {
                    'object_id': data.node.id,
                    'title': data.node.text,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (response) {
                    // Handle success
                    },
                    error: function (response) {
                    // Handle error
                    }
                });
            // For example, call your API here to update the name.
        }    
    });

    // CUSTOM MENU FOR RENAMING
    

    // 
    //  this is the context menu calling
    //
    function customMenu(node) {
        console.log("custom menu called");
        // ==== experiment =====
        var tree = $('#jstree').jstree(true);  // Get the jsTree instance
        var selectedId = tree.get_selected()[0];  // Get the ID of the selected node
        var selectedNode = tree.get_node(selectedId);  // Get the actual node object
        
        // default add
        var addItem = {
            "Add": {
            "label": "Add",
            "icon": "{% static 'img/bst_icons/plus-lg.svg' %}",
            "action": function (data) {
                var jstree = $('#jstree').jstree(true);
                var parent_node = jstree.get_node(node).id; 
                $.ajax({                        
                        url: '/ajax_add_node',  // URL to your Django view
                        data: {
                            'parent_id': parent_node,
                            'title':"sample",
                            // Add more data as needed
                            
                        },
                        success: function(response) {
                            // get the details of node after success
                            if(response.status === 'success') {
                                var new_node_data = {
                                    "id": response.node_id,
                                    "text": "New Node",  // Replace with text if received from server
                                    // Add any other attributes you need
                                };
                                // Create the new node under the parent node
                                var jstree = $('#jstree').jstree(true);
                                jstree.create_node(node, new_node_data, 'last', function(new_node) {
                                    // Optionally, start editing the new node
                                    setTimeout(function () { jstree.edit(new_node); }, 0);
                                });
                            }
                            else {
                                // Handle error
                                //alert('Could not create node: ' + response.message);
                            }
                            // end the details viewing
                        }
                    });
              
                }
            },
        };


        if (selectedNode && selectedNode.original) {
            var typeDetails = selectedNode.original.type_details;
            if (typeDetails) {
                console.log("Type ID:", typeDetails.type_id);
                console.log("Type Title:", typeDetails.type_title);
                console.log("Child Nodes:", typeDetails.child_nodes);
            }
        }
        // ==== experiment =====
        // Initialize dynamic 'Add' menu items
        var dynamicAddItems = {};

        // Check if typeDetails is available and has child_nodes
        if (typeDetails && typeDetails.child_nodes) {
            typeDetails.child_nodes.forEach(function(child) {
                var iconPath = "{% static 'img/type_icons/type_' %}" + child.title.toLowerCase() + ".svg";
                dynamicAddItems[child.id] = {
                    "label": child.title,
                    "icon": iconPath,
                    "action": function (node) {
                        var jstree = $('#jstree').jstree(true);
                        var parent_node = jstree.get_node(node).id; 
                        $.ajax({                        
                                url: '/ajax_add_node',  // URL to your Django view
                                data: {
                                    'parent_id': selectedId,
                                    'title':"sample_type",
                                    'type_id': child.id,
                                    'type': child.title,
                                    // Add more data as needed
                                    
                                },
                                success: function(response) {
                                    // get the details of node after success
                                    if(response.status === 'success') {
                                        let typeTitle = response.type_title.toLowerCase();
                                        let iconName = `{% static 'img/type_icons/type_' %}${typeTitle}.svg`;
                                        //alert(iconName);
                                        var new_node_data = {
                                            "id": response.node_id,
                                            "text": typeTitle,  // Replace with text if received from server
                                            "icon": iconName,
                                            // Add any other attributes you need
                                        };
                                        // Create the new node under the parent node
                                        var jstree = $('#jstree').jstree(true);
                                        jstree.create_node(selectedId, new_node_data, 'last', function(new_node) {
                                            // Optionally, start editing the new node
                                            setTimeout(function () { jstree.edit(new_node); }, 0);
                                        });
                                        
                                    }
                                    else {
                                        // Handle error
                                        //alert('Could not create node: ' + response.message);
                                    }
                                    // end the details viewing
                                }
                            });
                    
                            }
                        };
            });
        } else {
            // Fallback to default 'Add' item
            dynamicAddItems['default_add'] = addItem;
        }
       
        var defaultItems = {
            
            "Delete": {
            "label": "Delete",
            "icon": "{% static 'img/bst_icons/x-lg.svg' %}",
            "action": function (data) {
                    var tree = $('#jstree').jstree(true);
                    var nodeId = tree.get_selected()[0]; // get the id of the selected node
                    $.ajax({
                    url: '/ajax_delete_node',
                    method: 'POST',
                    data: { 
                        'node_id': nodeId,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    
                    success: function(response) {
                        if (response.success === true) {
                            tree.delete_node(nodeId);
                        } else {
                            alert('Could not delete node.');
                        }
                    },
                    error: function() {
                        alert('Error while deleting node.');
                    }
                    });
                }
            },
            "Copy": {
            "label": "Copy",
            "icon": "{% static 'img/bst_icons/copy_1.svg' %}",
            "action": function (data) {
                    var tree = $('#jstree').jstree(true);
                    var nodeId = tree.get_selected()[0]; // get the id of the selected node
                    $.ajax({
                    url: '/ajax_copy_node',
                    method: 'POST',
                    data: { 
                        'node_id': nodeId,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    
                    success: function(response) {
                        var new_node_data = {
                            "id": response.node_id,
                            "text": response.node_text,  // Replace with text if received from server
                            // Add any other attributes you need
                        };
                        // Create the new node under the parent node
                        var jstree = $('#jstree').jstree(true);
                        let parent_node = jstree.get_parent(node);
                        jstree.create_node(parent_node, new_node_data, 'last', function(new_node) {
                            // Optionally, start editing the new node
                            setTimeout(function () { jstree.edit(new_node); }, 0);
                        });
                        
                    },
                    error: function() {
                        alert('Error while copying node.');
                    }
                    });
                }
            },
            "Clone": {
            "label": "Clone",
            "icon": "{% static 'img/bst_icons/tree.svg' %}",
            "action": function (data) {
                    var tree = $('#jstree').jstree(true);
                    var nodeId = tree.get_selected()[0]; // get the id of the selected node
                    $.ajax({
                    url: '/ajax_clone_node',
                    method: 'POST',
                    data: { 
                        'node_id': nodeId,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    
                    success: function(response) {
                        var new_node_data = {
                            "id": response.node_id,
                            "text": response.node_text,  // Replace with text if received from server
                            // Add any other attributes you need
                        };
                        // Create the new node under the parent node
                        var jstree = $('#jstree').jstree(true);
                        let parent_node = jstree.get_parent(node);
                        jstree.create_node(parent_node, new_node_data, 'last', function(new_node) {
                            // Optionally, start editing the new node
                            setTimeout(function () { jstree.edit(new_node); }, 0);
                            
                        });
                        $('#jstree').jstree(true).refresh();
                    },
                    error: function() {
                        alert('Error while Cloning node.');
                        $('#jstree').jstree(true).refresh();
                    }
                    });
                }
            },
            
            // Add more actions here if you need            
        };
        //return defaultItems;
        /////////////////////////////////////////////////////////////
        // Fix for the default menu at the last has to be removed
        // to avoid creating more levels than intended
        /////////////////////////////////////////////////////////////
        // FIX THIS: 
        // basicMenu = {...addItem, ...defaultItems};
        basicMenu = { ...defaultItems};
        delcopycloneMenu = defaultItems;
        defaultMenu = basicMenu;        
        var finalContextMenu;
        

        // Check if typeDetails and child_nodes are available
        if (typeDetails && typeDetails.child_nodes && typeDetails.child_nodes.length > 0) {
            var iconPath = "{% static 'img/type_icons/type_' %}" + typeDetails.type_title.toLowerCase() + ".svg";
            finalContextMenu = {
                "AddType": {
                    "label": "AddType",
                    "icon": iconPath,
                    "submenu": dynamicAddItems  // Attach dynamic 'Add' items or default 'Add' item here
                },
                ...delcopycloneMenu  // Spread base menu items here
            };
        } else {
            finalContextMenu = basicMenu;
        }

        return finalContextMenu;

        }
    // end of context menu
    //
    //
    //

    // // call ajax for renaming
    $('#jstree').on('rename_node.jstree', function (e, data) {
        $.ajax({
            url: '/ajax_rename_list_item', // Replace with your Django view URL
            type: 'POST',
            data: {
            'object_id': data.node.id,
            'title': data.node.text,
            csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (response) {
            // Handle success
            $('#jstree').jstree(true).refresh();
            },
            error: function (response) {
            // Handle error
            }
        });
        });


// end of the jstree document ready functions
});


// general functions 
// update description
$(document).on('blur', '.details-section', function() {
  const newDescription = $(this).text();
  const nodeId = $(this).attr('id');

  $.ajax({
    url: '/ajax_update_list_item_description',
    type: 'POST',  // or POST, according to your needs
    data: {
      'node_id': nodeId,
      'description': newDescription,
      csrfmiddlewaretoken: '{{ csrf_token }}'
    },
    success: function(response) {
      if (response.status === 'success') {
        console.log('Description updated successfully');
      } else {
        console.log('Failed to update description: ' + response.message);
      }
    },
    error: function() {
      console.log('An error occurred while updating the description');
    }
  });
});
// end of the general functions
</script>
<!-- end content -->
{% else%}
  {% include './GUEST_USER.html' %}
{% endif %}
{% endblock content %}