{% load static %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 d-flex justify-content-center">
      <h5>Welcome to the Open-source Agile software for Agilists, Leaders, and Managers!</h5>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 d-flex justify-content-center">
      <p>
        Agile is a mindset &amp; practice that promotes an iterative, incremental, adaptive ways-of-working through which
        we get high-quality products/services/solutions and manage projects with short-feedback cycles.
        This agile approach helps us to achieve business agility and deliver business value to our consumers.
      </p>
      
     
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 d-flex justify-content-center">
      <p>We present you a simple open-source agile software 
        that can support adopting agile ways-of-working for your organization.
      You can download and install this software and customize 
      as per your needs and also build required features or utilize as-is.
      We welcome your feedback, contribution and suggestions.</p>
    </div>
    <div class="col-md-2"></div>
    </div>
  </div>  
 
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 d-flex justify-content-center">
    </div>
    <div class="col-md-2"></div>
    </div>
  </div>  
  <div class="row">
    
    <div class="col-md-6 d-flex justify-content-end">
      <img width='500px' height='300px' 
          src="{% static 'img/PPSS_image1.png' %}" class="" alt="" class=""> 
    </div>
    <div class="col-md-4 d-flex justify-content-start align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <b>Basic features of this software are:</b>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li>Manage Projects like Value Stream</li>
              <li>Manage Products, Services and Solutions</li>
              <li>Adapt LeanAgileSystem ways: Define, Refine, Prioritize, Visualize and Plan-Do-Check-Act</li>
              <li>Adapt Scrum, Kanban, XP or customize your practice</li>
              <li>Apply Agile @ Scale practices or adapt an existing Scaling or Custom Scaling Framework.</li>
            </ul>
          </div>
        </div>
      </div>     
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 d-flex justify-content-center">
    </div>
    <div class="col-md-2"></div>
    </div>
  </div>  
</div>
