{% extends "../common/base.html" %} 
{% load static %}
{% block title %}User Password Change{% endblock title %} 
{% block content %}
<div class="container">
    <main>   
      {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Change Password</h2>
                    <form method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button type="submit">Change Password</button>
                    </form>
                </div>
            </div>
        </div>       
      {% else%}
        &nbsp;
      {% endif %}      
    </main>
  </div>
  </div>
{% endblock content %}

