{% load static %}
<style>
    body1 { 
        background: url({% static 'img/bg/bg1.jpg' %}) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .bg_white {
        background-color: white;
    }
    .bg_top_menu {
        background-color: darkgrey;
        color: white;
    }
    .menu_ahref {
        text-decoration: none;
    }
    .btn-xs {
        padding: 2px 6px;
        font-size: 10px;
        line-height: 1.2;
    }
    
    .ahref_menu {
        text-decoration: none;
    }
    .menu_header {
        background-color: lightblue;
    }
</style>