{% include "../../common/__breadcrumbs_custom_css.html" %}
<div class="container-fluid-width">    
{% include "../jstree_common/_bread_crumbs_display.html" %} 
</div>
<div class="container-fluid-width">
  <div class="row no-gutters">
    <div class="col-md-12">
     <div id="content-window">
        <!-- TOP LEVEL WORKITEM SPECIFIC MENU SAMPLE -->
        <div class="container-fluid-width">
          <div class="row no-gutters">
            <div class="col-md-2">User Story :: Details</div>
            <div class="col-md-2">Edit</div>
            <div class="col-md-2">Kanban</div>
            <div class="col-md-6 d-flex justify-content-end align-items-center">
              Settings
            </div>
          </div>
        </div>
       
        <table class="table table-bordered">
          <tr>
            <td width="10%">Summary:</td>
            <td>
              This is the summary of the Work Item
            </td>
          </tr>
          <tr>
            <td  width="10%">Description:</td>
            <td>
              This is the description of the work item
            </td>
          </tr>
          <tr>
            <td  width="10%">Acceptance Criteria:</td>
            <td>
              This is the Acceptance Criteria of the work item
            </td>
          </tr>
        </table>
        <!-- TOP LEVEL WORKITEM SPECIFIC MENU SAMPLE -->
     </div>
    </div>
  </div>
</div>
<script>
    // update description
$(document).on('blur', '.details-section', function() {
  const newDescription = $(this).text();
  const nodeId = $(this).attr('id');

  $.ajax({
    url: '/ajax_update_list_item_description',
    type: 'POST',  // or POST, according to your needs
    data: {
      'node_id': nodeId,
      'description': newDescription,
      csrfmiddlewaretoken: '{{ csrf_token }}'
    },
    success: function(response) {
      if (response.status === 'success') {
        console.log('Description updated successfully');
      } else {
        console.log('Failed to update description: ' + response.message);
      }
    },
    error: function() {
      console.log('An error occurred while updating the description');
    }
  });
});
// end of the general functions
</script>
<script>
  function loadSettings(node_id) {
    $.ajax({
        url: '/ajax_get_settings',
        data: { 'node_id': node_id ,  csrfmiddlewaretoken: '{{ csrf_token }}'},
        type: 'POST',
        success: function(response) {
            // Assuming that your content window has id='content-window'
            console.log("RESPONE ", response);
            $('#content-window').html(response);
        },
        error: function(error) {
            console.log(error);
        }
    });
}

</script>