{% block content %}
<table>
    <tr>
        <th>Strategic Theme</th>
        <th>Epic</th>
        <th>Feature/Capability</th>
        <th>User Story/Spike</th>
        <th>Task</th>
    </tr>
    {% for theme in themes %}
    <tr>
        <td>{{ theme.name }}</td>
        <td colspan="4"></td> <!-- Placeholder for Epic names -->
    </tr>
    {% for epic in theme.epics.all %}
        {% for feature in epic.features.all %}
        <tr>
            <td></td> <!-- Empty cell under Strategic Theme -->
            <td>{{ epic.name }} (Feature)</td>
            <td>{{ feature.name }}</td>
            <td>
                {% for user_story in feature.user_stories.all %}
                {{ user_story.name }}<br>
                {% endfor %}
            </td>
            <td>
                {% for user_story in feature.user_stories.all %}
                    {% for task in user_story.tasks.all %}
                    {{ task.name }}<br>
                    {% endfor %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        {% for capability in epic.capabilities.all %}
        <tr>
            <td></td> <!-- Empty cell under Strategic Theme -->
            <td>{{ epic.name }} (Capability)</td>
            <td>{{ capability.name }}</td>
            <td>
                {% for spike in capability.spikes.all %}
                {{ spike.name }}<br>
                {% endfor %}
            </td>
            <td>
                {% for spike in capability.spikes.all %}
                    {% for task in spike.tasks.all %}
                    {{ task.name }}<br>
                    {% endfor %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    {% endfor %}
    {% endfor %}
</table>
{% endblock %}
