{% extends "../_1base/bootstrap_base.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Site Admin{% endblock title %} 

{% block content %}

{% if show_admin_link %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <h2>{{ user.username }}'s Admin Panel</h2>
                    </div>
                    <div class="col col-md-3 text-end">                       
                        <b>Admin Page</b>                        
                        &nbsp;&nbsp;
                        <a href="{% url 'edit_profile' %}">Edit Profile</a>
                        &nbsp;&nbsp;
                        <a href="/">Home</a>
                    </div>
                </div>                
                <div class="row">
                    <div class="col col-md-12">
                        <h2>Admin Panel: Settings &amp; Configurations</h2>
                        <hr>
                        <p>Here as a Admin you can manage various Site level settings and configurations</p>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <td>
                                        <a href="{% url 'cafe_start' %}">CAFe</a>
                                    </td>
                                    <td>CAFe Framework</td>
                                </tr>                               
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="{% url 'roles_mgmt' %}">Roles</a>
                                    </td>
                                    <td>Management</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{% url 'valuestream_mgmt' %}">ValueStream</a>
                                    </td>
                                    <td>Management</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{% url 'home_portfolio_canvas' %}">Portfolio Canvas</a>
                                    </td>
                                    <td>Management</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{% url 'home_devvaluestream_canvas' %}">DevValueStream Canvas</a>
                                    </td>
                                    <td>Management</td>
                                </tr>
                                <tr>
                                    <td>Topics</td>
                                    <td>Management</td>
                                </tr>
                                <tr>
                                    <td>User</td>
                                    <td>Management</td>
                                </tr>
                                <tr>
                                    <td>Team</td>
                                    <td>Management</td>
                                </tr>
                                <tr>
                                    <td>Group</td>
                                    <td>Management</td>
                                </tr>
                               
                                <tr>
                                    <td>Organization</td>
                                    <td>Management</td>
                                </tr>
                                <tr>
                                    <td>Type-Templates</td>
                                    <td>Management</td>
                                </tr>
                                <tr>
                                    <td>Delivery: Project/Product etc.,</td>
                                    <td>Management</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% else %}
<h3>User/Guest user page</h3>
{% endif %}

{% endblock %}
