{% extends "base.html" %} 
{% load static %}
{% block title %}VSMS Steps{% endblock title %} 
{% block content %}
{% include '../../../../../1.toplevel.html' %}
{% include '../../../../../2.navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <a href="{% url 'navbar_vsm' %}">List of VSMs</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <h5>Bulk Operations on VSMS Steps(s)</h5>
            {% for id in selected_product_ids %}
                <b>VSMS Steps ID: {{id}}</b><br>
            {% endfor %}
            <p>has been {{bulk_ops}}.</p>
        </div>
    </div>
</div>
{% endblock content %}